<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>MasterMan - ремонт</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:image" content="img/svg/pliers.png">
    <link rel="icon" href="img/pliers.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/pliers.png">

    <link rel="shortcut icon" href="img/pliers.png" >

    <meta name="theme-color" content="#000">


    <!-- ================= Стили ================= -->
    <link rel="stylesheet" href="css/style.min.css">
  </head>

  <body> 
    <section class="main-screen" id="main-screen">
        
      <div class="container">
          
        <header class="main-header">
          <a href="#" class="main-header__logo">
            <img src="img/svg/logo.svg" alt="MasterMan - быстрый и надежный ремонт" width="140" height="38">
          </a>
          <nav class="main-header__navigation">
            <div class="main-header__humburger humburger">
                <div class="humburger__middle"></div>
            </div>
            <ul class="main-header__list">
              <li class="main-header__close"></li>
              <li class="main-header__element"><a href="#main-screen" class="scroll-link">Главная</a></li>
              <li class="main-header__element"><a href="#services" class="scroll-link">Услуги</a></li>
              <li class="main-header__element"><a href="#advantages" class="scroll-link">Преимущества</a></li>
              <li class="main-header__element"><a href="#bonus" class="scroll-link">Бонусы</a></li>
              <li class="main-header__element"><a href="#request" class="scroll-link">Заявка</a></li>
              <li class="main-header__element"><a href="#main-footer" class="scroll-link">Контакты</a></li>
            </ul>
          </nav>
        </header>
        <h1 class="visually-hidden">MasterMan - быстрый и надежный ремонт</h1>
        <b class="main-screen__title">master<span>man</span></b>
        <p class="main-screen__description">Наш проект помогает с решением бытовых проблем - если сломался кран, не работает розетка или течёт крыша в помещении. Просто вызовите необходимого мастера, который устранит поломку.</p>
        <p class="main-screen__description">Не расстраивайтесь, если не нашли нужную услугу. Готовы уделить время и помочь решить проблему индивидуально. Для этого позвоните по номеру или оставьте заявку на сайте.</p>
        <div class="main-screen__actions actions">
          <a class="actions__button actions__button--service scroll-link" href="#services">Подобрать услугу</a>
          <a class="actions__button actions__button--request scroll-link" href="#request">Оставить заявку</a>
        </div>
        <div class="contacts__wrapper">
          <ul class="main-screen__contacts contacts">
            <li class="contacts__element contacts__element--phone">Номер телефона: +38(071)-123-45-67</li>
            <li class="contacts__element contacts__element--email">E-mail: Master.man@gmail.com</li>
            <li class="contacts__element contacts__element--address">Работаем по Донецку</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="services" id="services">
      <div class="container">
        <h2 class="services__title">Услуги</h2>
        <p class="services__subtitle">На чём специализируются наши мастера</p>
        <ul class="services__list">
          <li class="services__element services__element--plumber">
            <a href="#">
              <h2 class="services__element-title">Сантехнические работы</h2>
            </a>
            <div class="services__element-wrapper">
              <h3>Сантехнические работы</h3>
              <ul class="services__element-list">
                <li>Установка ванны - шт. от 750р.</li>
                <li>Установка душевой кабины - шт. от 950р.</li>
                <li>Установка гидромассажной ванны - шт. от 950р.</li>
                <li>Установка душевого бокса - шт. от 1800р.</li>
                <li>Установка раковины - шт. от 250р.</li>
                <li>Установка мойки - ф. от 250р.</li>
                <li>Установка смесителя - шт. от 180р.</li>
                <li>Установка/замена сифона - шт. от 150р.</li>
                <li>Установка унитаза - шт. от 350р.</li>
                <li>Установка биде - шт. от 400р.</li>
                <li>Установка писсуара - шт. от 350р.</li>
                <li>Установка бачка унитаза - шт. от 200р.</li>
                <li>Замена бачка унитаза - шт. от 250р.</li>
                <li>Ремонт сливной системы бачка - шт. от 150р.</li>
                <li>Вырезание отверстия под мойку - шт. от 200р.</li>
                <li>Сверление отверстия в металлической мойке под смеситель - шт. от 120р.</li>
                <li>Демонтаж и монтаж гофры - гофра от 100р.</li>
                <li>Демонтаж умывальника - шт. от 100р.</li>
                <li>Демонтаж унитаза - шт. от 150р.</li>
                <li>Демонтаж ванны - шт. от 150р.</li>
                <li>Демонтаж душевой кабины - шт. от 350р.</li>
                <li>Подготовка основания под унитаз после деонтожа - шт. от 200р.</li>
                <li>Установка полотенцесушителя водяного - шт. от 300р.</li>
                <li>Установка душевой шторы - шт. от 300р.</li>
              </ul>
            </div>
            <div class="services__element-shadow"></div>
          </li>
          <li class="services__element services__element--electric-installation">
            <a href="#">
              <h2 class="services__element-title">Электромонтажные работы</h2>
            </a>
            <div class="services__element-wrapper">
              <h3>Электромонтажные работы</h3>
              <ul class="services__element-list">
                <li>Замена автоматов - шт. от 200р.</li>
                <li>Установка ящика для счётчика электроэнерг - шт. от 250р.</li>
                <li>Штробление ниши под счётчик электроэнергии - шт. от 250р.</li>
                <li>Монтаж электропроводки/замена электропроводки - ниша от 30р.</li>
                <li>Монтаж короба под электропроводку - м. от 30р.</li>
                <li>Штробление стен для монтажа  электропроводки - м. от 25р.</li>
                <li>Установка розеток/выключателей - шт. от 100р.</li>
                <li>Отверстие под розетку/выключатель - шт. от 50р.</li>
                <li>Отверстие под  распределительную коробку (с устан.коробки) - шт. от 150р.</li>
                <li>Монтаж датчика движения - шт. от 220р.</li>
                <li>Подключение люстры - шт. от 150р.</li>
                <li>Установка точечного светильника - шт. от 100р.</li>
                <li>Навешивание зеркал с подключением подсветки - шт. от 250р.</li>
                <li>Установка и подключение вентилятора - шт. от 250р.</li>
                <li>Установка и подключение вытяжки - шт. от 350р.</li>
              </ul>
            </div>
            <div class="services__element-shadow"></div>
          </li>
          <li class="services__element services__element--roofing">
            <a href="#">
              <h2 class="services__element-title">Кровельные работы</h2>
            </a>
            <div class="services__element-wrapper">
              <h3>Кровельные работы</h3>
              <ul class="services__element-list">
                <li>Монтаж мауэрлата - м/п от 50р.</li>
                <li>Монтаж стропильной системы - м<sup>2</sup> от 150р.</li>
                <li>Монтаж контррейки - м<sup>2</sup> от 50р.</li>
                <li>Монтаж обрешетки - м<sup>2</sup> от 100р.</li>
                <li>Монтаж пароизоляции - м<sup>2</sup> от 50р.</li>
                <li>Монтаж гидроизоляции - м<sup>2</sup> от 50р.</li>
                <li>Монтаж OSB-плиты (с заделкой швов) - м<sup>2</sup> от 60р.</li>
                <li>Металлочерепица (с комплектующими) - м<sup>2</sup> от 120р.</li>
                <li>Композитная металлочерепица (с комплектующими) - м<sup>2</sup> от 200р.</li>
                <li>Битумная черепица (с комплектующими) - м<sup>2</sup> от 150р.</li>
                <li>Ондулин (с комплектующими) - м<sup>2</sup> от 150р.</li>
                <li>Шифер (с комплектующими) - м<sup>2</sup> от 120р.</li>
                <li>Полимерная черепица (с комплектующими) - м<sup>2</sup> от 190р.</li>
                <li>Натуральная черепица (с комплектующими) - м<sup>2</sup> от 240р.</li>
                <li>Профнастил (с комплектующими) - м<sup>2</sup> от 150р.</li>
                <li>Установка водосточной системы - м<sup>2</sup> от 100р.</li>
                <li>Подшив фронтона - м<sup>2</sup> от 160р.</li>
              </ul>
            </div>
            <div class="services__element-shadow"></div>
          </li>
          <li class="services__element services__element--finishing-work">
            <a href="#">
              <h2 class="services__element-title">Отделочные работы (гипсокартонные, полы, потолки, стены)</h2>
            </a>
            <div class="services__element-wrapper">
                <h3>Отделочные работы (гипсокартонные, полы, потолки, стены)</h3>
                <h4>Гипсокартонные работы</h4>
                <ul class="services__element-list">
                  <li>Монтаж гипсокартона в одном уровне стена - м<sup>2</sup> от 100р.</li>
                  <li>Монтаж  сложной конструкции из гипсокартона в нескольких уровнях стена - м<sup>2</sup> от 150р.</li>
                  <li>Монтаж перегородки из гипсокартона - м<sup>2</sup> от 150р.</li>
                  <li>Облицовка откосов гипсокартоном - м<sup>2</sup> от 130р.</li>
                  <li>Монтаж гипсокартона в одном уровне потолок - м<sup>2</sup> от 130р.</li>
                  <li>Монтаж сложной конструкции из гипсокартона потолок - м<sup>2</sup> от 150р.</li>
                  <li>Монтаж арки из гипсокартона - м<sup>2</sup> от 350р.</li>
                </ul>

                <h4>Полы</h4>
                <ul class="services__element-list">
                  <li>Устройства стяжки по маякам - м<sup>2</sup> от 50р.</li>
                  <li>Устройства стяжки пола - м<sup>2</sup> от 100р.</li>
                  <li>Заливание стяжки пола самовыравнивающей смесью - м<sup>2</sup> от 50р.</li>
                  <li>Укладка паркетной доски - м<sup>2</sup> от 150р.</li>
                  <li>Шлифовка паркетного пола - м<sup>2</sup> от 60р.</li>
                  <li>Укладка ламината - м<sup>2</sup> от 100р.</li>
                  <li>Укладка линолеума - м<sup>2</sup> от 50р.</li>
                  <li>Укладка ковралина - м<sup>2</sup> от 50р.</li>
                  <li>Монтаж плинтуса - м<sup>2</sup> от 40р.</li>
                  <li>Монтаж тёплого пола электрического(с нагревательным матом) - м<sup>2</sup> от 200р.</li>
                  <li>Монтаж тёплого пола электрического(с нагревательным кабелем) - м<sup>2</sup> от 350р.</li>
                  <li>Монтаж тёплого пола водяного - м<sup>2</sup> от 160р.</li>
                  <li>Монтаж смешивающего узла для водной системы - м<sup>2</sup> от 1100р.</li>
                  <li>Укладка плитки без затирки швов - м<sup>2</sup> от 200р.</li>
                  <li>Затирка швов после укладки плитки - м<sup>2</sup> от 30р.</li>
                  <li>Демонтаж стяжки пола - м<sup>2</sup> от 60р.</li>
                  <li>Демонтаж плинтуса - м<sup>2</sup> от 30р.</li>
                  <li>Демонтаж линолеума - м<sup>2</sup> от 20р.</li>
                  <li>Демонтаж ДВП - м<sup>2</sup> от 30р.</li>
                  <li>Демонтаж ковролина - м<sup>2</sup> от 20р.</li>
                  <li>Демонтаж ламината - м<sup>2</sup> от 30р.</li>
                  <li>Демонтаж полов деревянных - м<sup>2</sup> от 50р.</li>
                  <li>Настил полов из ДВП - м<sup>2</sup> от 60р.</li>
                  <li>Настил полов из ДСП - м<sup>2</sup> от 50р.</li>
                  <li>Разборка паркетных полов - м<sup>2</sup> от 30р.</li>
                  <li>Циклевание паркетного пола - м<sup>2</sup> от 100р.</li>
                </ul>

                <h4>Поклейка обоев</h4>
                <ul class="services__element-list">
                  <li>Поклейка обоев стена - м<sup>2</sup> от 60р.</li>
                  <li>Наклейка тяжёлых структурных обоев - м<sup>2</sup> от 120р.</li>
                  <li>Оклейка стен обоями под окраску - м<sup>2</sup> от 100р.</li>
                  <li>Оклейка потолков обоями - м<sup>2</sup> от 50р.</li>
                  <li>Монтаж потолочного фриза - м<sup>2</sup> от 40р.</li>
                  <li>Снятие старых обоев со стен - м<sup>2</sup> от 20р.</li>
                  <li>Снятие старых обоев с потолков - м<sup>2</sup> от 25р.</li>
                </ul>

                <h4>Укладка плитки</h4>
                <ul class="services__element-list">
                  <li>Укладка плитки на пол м<sup>2</sup> от 170р.</li>
                  <li>Укладка плитки на стены м<sup>2</sup> от 150р.</li>
                  <li>Укладка плитки на откос, подоконник м<sup>2</sup> от 150р.</li>
                  <li>Укладка фриза на плитки м. от 150р.</li>
                  <li>Затирка швов после укладки плитки м<sup>2</sup> от 30р.</li>
                  <li>Сверление отверстия в плите шт. от 50р.</li>
                </ul>

                <h4>Штукатурные и маляные работы</h4>
                <ul class="services__element-list">
                  <li>Штукатурка стен по маякам м<sup>2</sup> от 100р.</li>
                  <li>Штукатурка криволинейной поверхности м<sup>2</sup> от 150р.</li>
                  <li>Штукатурка трещин, борозд м<sup>2</sup> от 100р.</li>
                  <li>Штукатурка стен под поклейку обоев м<sup>2</sup> от 100р.</li>
                  <li>Штукатурка откосов + шпаклёвка откосов  (с установкой уголков) м<sup>2</sup> от 110р.</li>
                  <li>Штукатурка декоративная м<sup>2</sup>,м от 120р.</li>
                  <li>Покраска водоэмульсионной краской в 2 слоя стену м<sup>2</sup> от 80р.</li>
                  <li>Покраска водоэмульсионной краской в 2 слоя стену м<sup>2</sup> от 100р.</li>
                  <li>Покраска не плоскостных поверхностей (дверь) м<sup>2</sup> от 450р.</li>
                  <li>Покраска не плоскостных поверхностей (радиатор отопления) м<sup>2</sup> от 50р.</li>
                  <li>Шпаклёвка стен под поклейку обоев м<sup>2</sup> от 90р.</li>
                  <li>Шпаклёвка стен под покраску м<sup>2</sup> от 100р.</li>
                  <li>Выравнивание потолков стартовой шпаклёвкой м<sup>2</sup> от 50р.</li>
                  <li>Шпаклёвка потолка под поклейку обоев м<sup>2</sup> от 100р.</li>
                  <li>Шпаклёвка потолка под покраску м<sup>2</sup> от 120р.</li>
                  <li>Монтаж перфорированного уголка м<sup>2</sup> от 20р.</li>
                  <li>Демонтаж шпаклёвки м<sup>2</sup> от 50р.</li>
                </ul>


                <h4>Потолки</h4>
                <ul class="services__element-list">
                  <li>Монтаж подвесного потолка «Armstrong» - м<sup>2</sup> 90р.</li>
                  <li>Монтаж подвесного потолка из пластика на деревянном каркасе - м<sup>2</sup> 130р.</li>
                  <li>Монтаж подвесного потолка на металлическом каркасе - м<sup>2</sup> 130р.</li>
                  <li>Монтаж подвесного потолка из гипсокартона  в одном уровне - м<sup>2</sup> 140р.</li>
                  <li>Монтаж подвесного потолка из гипсокартона в нескольких уровнях - м<sup>2</sup> 180р.</li>
                </ul>
              </div>
              <div class="services__element-shadow"></div>
          </li>
          <li class="services__element services__element--carpenter">
            <a href="#">
              <h2 class="services__element-title">Услуги плотника</h2>
            </a>
            <div class="services__element-wrapper">
              <h3>Услуги плотника</h3>
              <h4>Работы с замком</h4>
              <ul class="services__element-list">
                <li>Установка замков - шт. от 160р.</li>
                <li>Замена замка/ремонт - шт. от 150р.</li>
              </ul>
              <h4>Установка дверей</h4>
              <ul class="services__element-list">
                <li>Установка дверей - шт. от 500р.</li>
                <li>Прирезка, сборка и установка дверной коробкиli - шт. от 240р.</li>
                <li>Установка или замена дверного доводчика - шт. от 230р.</li>
                <li>Демонтаж дверного блока деревянного - шт. от 150р.</li>
                <li>Демонтаж дверного блока металлического - шт. от 300р.</li>
              </ul>
            </div>
            <div class="services__element-shadow"></div>
          </li>
          <li class="services__element services__element--metal-construction">
            <a href="#">
              <h2 class="services__element-title">Металлоконструкционные работы</h2>
            </a>
            <div class="services__element-wrapper">
              <h3>Металлоконструкционные работы</h3>
              <ul class="services__element-list">
                <li>Резка, сварка металла под заказ</li>
              </ul>
            </div>
            <div class="services__element-shadow"></div>
          </li>
          <li class="services__element services__element--appliances">
            <a href="#">
              <h2 class="services__element-title">Установка бытовой техники</h2>
            </a>
            <div class="services__element-wrapper">
              <h3>Установка бытовой техники</h3>
              <ul class="services__element-list">
                <li>Установка и подключение стиральной машины - шт. от 200р.</li>
                <li>Установка и подключение посудомоечной машины - шт. от 250р.</li>
                <li>Установка бойлера (водонагревателя) - шт. от 450р.</li>
                <li>Установка водонагревателя проточного - шт. от 500р.</li>
                <li>Установка и подключение духовки - шт. от 470р.</li>
                <li>Установка и подключение варочной поверхности - шт. от 520р.</li>
                <li>Установка вытяжки кухонной - шт. от 280р.</li>
                <li>Перевешивание двери холодильника - шт. от 400р.</li>
                <li>Навешивание подставки под телевизор - шт. от 250р.</li>
                <li>Навешивание телевизионной панели - шт. от 300р.</li>
              </ul>
            </div>
            <div class="services__element-shadow"></div>
          </li>
          <li class="services__element services__element--furniture">
            <a href="#">
              <h2 class="services__element-title">Сборка/разборка/ ремонт мебели</h2>
            </a>
            <div class="services__element-wrapper">
              <h3>Сборка/разборка/ ремонт мебели</h3>
              <ul class="services__element-list">
                <li>Комоды</li>
                <li>Кухонной мебель</li>
                <li>Шкафы</li>
                <li>Столы</li>
              </ul>
            </div>
            <div class="services__element-shadow"></div>
          </li>
          <li class="services__element services__element--other">
            <a href="#">
              <h2 class="services__element-title">Другие услуги</h2>
            </a>
            <div class="services__element-wrapper">
              <h3>Другие услуги</h3>
              <ul class="services__element-list">
                <li>Вывоз мусора - дог.</li>
                <li>Консультация по ремонту токарно-фрезерных станков - дог.</li>
              </ul>
            </div>
            <div class="services__element-shadow"></div>
          </li>
        </ul>
      </div>
    </section>

    <section class="advantages" id="advantages">
      <div class="container">
        <h2 class="advantages__title">Преимущества</h2>
        <p class="advantages__subtitle">Почему стоит довериться нашим мастерам</p>
        <ul class="advantages__list">
          <li class="advantages__element advantages__element--fast">
            <h3 class="advantages__element-title">Делаем вовремя</h3>
            <p class="advantages__element-description">MASTERMAN устранит проблему не позже оговоренного срока.</p>
          </li>
          <li class="advantages__element advantages__element--neatly">
            <h3 class="advantages__element-title">Работаем аккуратно</h3>
            <p class="advantages__element-description">Наши мастера пытаются не создавать новых проблем и поэтому бережно относятся к предметам, которые ремонтируют. Но если происшествие случилось - починим бесплатно.</p>
          </li>
          <li class="advantages__element advantages__element--cheap">
            <h3 class="advantages__element-title">Приемлемые цены</h3>
            <p class="advantages__element-description">При расчете стоимости услуг учитываем только время, которое потратит мастер на решение бытовой проблемы</p>
          </li>
        </ul>
      </div>
    </section>

    <section class="bonus" id="bonus">
      <div class="container">
        <h2 class="bonus__title">Бонус</h2>
        <p class="bonus__subtitle">Купоны в обмен на скидку</p>
        <p class="bonus__description">После того, как мастер окончит работу, вы получите <span>бонусный купон.</span> Соберите 5 купонов и получите 5% скидки.</p>
      </div>
    </section>

    <section class="request" id="request">
      <div class="container">
        <h2 class="request__title">Заявка</h2>
        <p class="request__subtitle">Оставляйте заявку и ждите звонка в течение 10 минут.</p>
        <p class="request__description">Заполните минимум 2 поля, чтобы отправить заявку: Имя и номер телефона</p>
        <form action="https://formspree.io/Alina1530p@gmail.com" method="POST" class="request__form form">
          <div class="form-container">
            <input type="text" class="form__name" name="Имя" required placeholder="Имя*">
            <input type="tel" class="form__phone" name="Номер телефона" required placeholder="Номер телефона*">
            <select class="form__services" name="Тип Услуги">
              <option value="Тип Услуги">Тип Услуги</option>
              <option value="Сантехнические работы">Сантехнические работы</option>
              <option value="Электромонтажные работы">Электромонтажные работы</option>
              <option value="Кровельные работы">Кровельные работы</option>
              <option value="Отделочные работы">Отделочные работы</option>
              <option value="Услуги плотника">Услуги плотника</option>
              <option value="Металлоконструкционные работы">Металлоконструкционные работы</option>
              <option value="Установка бытовой техники">Установка бытовой техники</option>
              <option value="Сборка/разборка/ремонт мебели">Сборка/разборка/ремонт мебели</option>
              <option value="Другие услуги">Другие услуги</option>
            </select>
            <select class="form__type" name="Вид услуги" id="">
              <option value="Вид услуги">Вид услуги</option>
            </select>
            <input type="email" class="form__email" name="E-mail" placeholder="E-mail">
            <textarea class="form__textarea" name="Сообщение" placeholder="Сообщение"></textarea>
          </div>
          <button class="form__button" type="submit">Отправить</button>
        </form>
      </div>
    </section>

    <section class="reviews">
      <div class="container">
        <h2 class="reviews__title">Отзывы</h2>
        <p class="reviews__subtitle">Это важно для нас</p>
        <ul class="reviews__list owl-carousel owl-theme">
          <li class="reviews__element">
            <div class="reviews__element-wrapper">
              <div class="reviews__element-information">
                <h3 class="reviews__element-name">Александр Дроздов</h3>
                <p class="reviews__element-date">10 Ноября 2018</p>
              </div>
              <p class="reviews__element-content">Спасибо компании "MASTERMAN", которая предоставила свои услуги! Мастера поклеили обои, собрали мебель. Вложились в оговоренные сроки и справились с работой. Рекомендую!</p>
              <ul class="reviews__stars">
                <li class="star star--full"></li>
                <li class="star star--full"></li>
                <li class="star star--full"></li>
                <li class="star star--full"></li>
                <li class="star star--full"></li>
              </ul>
            </div>
          </li>

          <li class="reviews__element">
            <div class="reviews__element-wrapper">
              <div class="reviews__element-information">
                <h3 class="reviews__element-name">Татьяна Лескова</h3>
                <p class="reviews__element-date">21 Ноября 2018</p>
              </div>
              <p class="reviews__element-content">Добрый день, хочу поделиться мнением о компании "MASTERMAN". Изначально постигали сомнения на счет этой компании, ведь ни разу у них не заказывала услуги. И когда же я все таки решилась, то об этом ни на секунду не пожалела. Мастера положили плитку быстро и недорого. Впредь буду обращаться только к этой компании. Спасибо!</p>
              <ul class="reviews__stars">
                <li class="star star--full"></li>
                <li class="star star--full"></li>
                <li class="star star--full"></li>
                <li class="star star--full"></li>
                <li class="star star--full"></li>
              </ul>
            </div>
          </li>

          <li class="reviews__element">
            <div class="reviews__element-wrapper">
              <div class="reviews__element-information">
                <h3 class="reviews__element-name">Татьяна Лескова</h3>
                <p class="reviews__element-date">21 Ноября 2018</p>
              </div>
              <p class="reviews__element-content">Добрый день, хочу поделиться мнением о компании "MASTERMAN". Изначально постигали сомнения на счет этой компании, ведь ни разу у них не заказывала услуги. И когда же я все таки решилась, то об этом ни на секунду не пожалела. Мастера положили плитку быстро и недорого. Впредь буду обращаться только к этой компании. Спасибо!</p>
              <ul class="reviews__stars">
                <li class="star star--full"></li>
                <li class="star star--full"></li>
                <li class="star star--full"></li>
                <li class="star star--full"></li>
                <li class="star star--full"></li>
              </ul>
            </div>
          </li>

          <li class="reviews__element">
            <div class="reviews__element-wrapper">
              <div class="reviews__element-information">
                <h3 class="reviews__element-name">Татьяна Лескова</h3>
                <p class="reviews__element-date">21 Ноября 2018</p>
              </div>
              <p class="reviews__element-content">Добрый день, хочу поделиться мнением о компании "MASTERMAN". Изначально постигали сомнения на счет этой компании, ведь ни разу у них не заказывала услуги. И когда же я все таки решилась, то об этом ни на секунду не пожалела. Мастера положили плитку быстро и недорого. Впредь буду обращаться только к этой компании. Спасибо!</p>
              <ul class="reviews__stars">
                <li class="star star--full"></li>
                <li class="star star--full"></li>
                <li class="star star--full"></li>
                <li class="star star--full"></li>
                <li class="star star--full"></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="bottom-navigation">
      <div class="container">
        <ul class="bottom-navigation__list">
          <li class="bottom-navigation__element"><a href="#main-screen" class="scroll-link">Главная</a></li>
          <li class="bottom-navigation__element"><a href="#services" class="scroll-link">Услуги</a></li>
          <li class="bottom-navigation__element"><a href="#advantages" class="scroll-link">Преимущества</a></li>
          <li class="bottom-navigation__element"><a href="#bonus" class="scroll-link">Бонусы</a></li>
          <li class="bottom-navigation__element"><a href="#request" class="scroll-link">Заявка</a></li>
          <li class="bottom-navigation__element"><a href="#main-footer" class="scroll-link">Контакты</a></li>
        </ul>
      </div>
    </section>

    <footer class="main-footer" id="main-footer">
      <div class="container">
        <div class="main-footer__logo-wrapper">
          <img src="img/svg/logo.svg" alt="MasterMan" class="main-footer__logo" width="399" height="72">
        </div>
        <div class="main-footer__sevices">
          <h3 class="main-footer__sevices-title">Основные услуги</h3>
          <ul class="main-footer__sevices-list">
            <li class="main-footer__sevices-element"><a href="#">Сантехнические работы</a></li>
            <li class="main-footer__sevices-element"><a href="#">Электромонтажные работы</a></li>
            <li class="main-footer__sevices-element"><a href="#">Кровельные работы</a></li>
            <li class="main-footer__sevices-element"><a href="#">Отделочные работы</a></li>
            <li class="main-footer__sevices-element"><a href="#">Установка бытовой техники</a></li>
            <li class="main-footer__sevices-element"><a href="#">Сборка/разборка/ремонт мебели</a></li>
            <li class="main-footer__sevices-element"><a href="#">Металлоконструкционные работы</a></li>
            <li class="main-footer__sevices-element"><a href="#">Услуги плотника</a></li>
          </ul>
        </div>
        <div class="main-footer__contacts">
          <h3 class="main-footer__contacts-title">Контакты</h3>
          <ul class="main-footer__contacts-list">
            <li class="main-footer__contacts-element">
              <p>Номер телефона: +38(071)-340-99-71</p>
            </li>
            <li class="main-footer__contacts-element">
              <p>E-mail: Master.man@gmail.com</p>
            </li>
            <li class="main-footer__contacts-element">
              <p>Работаем по всему Донецку</p>
            </li>
          </ul>
        </div>
        <div class="main-footer__copyright">
          <a href="#">@art9.studio</a>
        </div>

      </div>
    </footer>

 

  <script src="js/script.min.js" ></script>
  </body>
</html>
